<div layout="column" layout-padding>
  <md-content class="autoScroll">
    <md-input-container class="md-icon-float md-block">
      <label>Name</label>
      <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
      <input ng-model="customer.name" type="text">
    </md-input-container>
    <md-input-container md-no-float class="md-block">
      <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
      <input ng-model="customer.email" type="email" placeholder="Email (required)" ng-required="true">
    </md-input-container>
  </md-content>
</div>