
md-card-actions.layout-align-end-center.layout-row {
    padding-right: 10px;
    padding-bottom: 10px;
}
.face {
  border-radius: 30px;
  width: 48px;
  margin: 16px;
}
.logo.face {
    width: 70px;
    border-radius: 70px;    
}
button.md-fab.md-button.md-ink-ripple ng-md-icon svg{
    padding: 4px 4px;        
}
.md-secondary.first {
    right: 110px;
}
.md-subhead.phone {
    font-size: 10px;
}
.ng-message.name-message {
    font-size: 12px;
}

md-card md-card-title md-card-title-media .md-media-lg {
    width: auto;
    height: auto;
}

md-input-container.md-block.search {
    margin-top: 65px;
}
.md-button.filename-label {
    text-transform: lowercase;
}