<div layout="column" ng-cloak>
    <md-content layout-padding>
        <form name="orderForm">
            <div>
                <md-input-container class="md-block">
                    <label>Order description</label>
                    <textarea required name="orderDescription" ng-model="order.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                    <div ng-messages="orderForm.orderDescription.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Order Price</label>
                    <input required type="number"  name="orderPrice" ng-model="order.price">
                    <div ng-messages="orderForm.orderPrice.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
            </div>            
            <div layout layout-sm="column">
                <md-button class="md-raised md-primary" ng-click="addOrder()">
                    Save changes
                </md-button>
            </div>
        </form>
    </md-content>
</div>