<div layout="column">
    <md-content layout-padding>
        <div layout-padding>
            <md-button class="md-raised md-primary" ui-sref="goBack()">Back</md-button> 
        </div>
        <form name="orderForm">
            <div>
                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea required name="orderDescription" ng-model="order.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                    <div ng-messages="orderForm.orderDescription.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Price (USD)</label>
                    <input required type="text" name="orderPrice" ng-model="order.price" ui-money-mask ui-hide-group-sep min="0">
                    <div ng-messages="orderForm.orderPrice.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
            </div>            
            <div layout layout-sm="column">
                <md-button ng-disabled="orderForm.$invalid" class="md-raised md-primary" ng-click="addOrder()">
                    Save changes
                </md-button>
            </div>
        </form>
    </md-content>
</div>