<div layout="column" ng-cloak>
    <md-content layout-padding>
        <form name="customerForm">
            <div>
                <md-input-container class="md-block">
                    <label>Customer Logo</label>
                    <input required name="customerLogo" ng-model="customer.logo">
                    <div ng-messages="customerForm.customerLogo.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Customer Name</label>
                    <input required  name="customerName" ng-model="customer.name">
                    <div ng-messages="customerForm.customerName.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Customer Email</label>
                    <input required type="email" name="customerEmail" ng-model="customer.email"
                        minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                    <div ng-messages="customerForm.customerEmail.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Your email must be between 10 and 100 characters.
                        </div>
                    </div>
                </md-input-container>
            </div>            
            <div layout layout-sm="column">
                <md-button class="md-raised md-primary" ng-click="addCustomer()">
                    Save changes
                </md-button>
            </div>
        </form>
    </md-content>
</div>