<div layout="column" ng-cloak>
    <md-content layout-padding>
        <form name="customerForm" enctype="multipart/form-data" >
            <div layout-padding>
                 <md-input-container class="md-block">
                    <label>Logo</label>
                    <input type="file" name="customerLogo" required file-model="photoFile" >
                </md-input-container>
            </div>
            <div layout-gt-sm="row" layout-padding>
                <md-input-container>
                    <label>Customer Name</label>
                    <input required wm-customername name="customerName" ng-model="customer.name">
                    <div ng-messages="customerForm.customerName.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="customername">This username is already taken!</div>
                        <div class="ng-message name-message" ng-show="customerForm.customerName.$pending.customername">Checking if this name is available...</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Customer Email</label>
                    <input required type="email" name="customerEmail" ng-model="customer.email"
                        minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                    <div ng-messages="customerForm.customerEmail.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Your email must be between 10 and 100 characters.
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout-padding>
                <md-input-container class="md-block">
                    <label>Phone Number</label>
                    <input required name="phone" ng-model="customer.phone" ng-pattern="/^\+\d{3}\(\d{2}\)\d{3}-\d{2}-\d{2}$/" />
                    <div class="hint" ng-show="showHints">+###(##)###-##-##</div>
                    <div ng-messages="customerForm.phone.$error" ng-hide="showHints">
                        <div ng-message="pattern">+###(##)###-##-## - Please enter a valid phone number.</div>
                    </div>
                </md-input-container>
            </div>            
            <div layout layout-sm="column">
                <md-button ng-disabled="customerForm.$invalid || customerForm.$pending" class="md-raised md-primary" ng-click="addCustomer(photoFile)">
                    Save changes
                </md-button>
            </div>
        </form>
    </md-content>
</div>