<div layout="column" ng-cloak>
    <md-content layout-padding>
        <div layout-padding>
            <md-button class="md-raised md-primary" ui-sref="customers">Back</md-button> 
        </div>
        <form name="customerForm" enctype="multipart/form-data" >
            <div ng-hide="initialCustomerName" layout-padding>                
                <label for="customerLogo" class="md-button md-raised md-primary">Choose photo</label>
                <label class="md-button filename-label">{{photoFile.name}}</label>                    
                <input ng-hide="true" class="md-button" type="file" name="customerLogo" id="customerLogo" ng-required='!initialCustomerName' file-model="photoFile" ng-model="photoFile">
                <div ng-messages="customerForm.customerLogo.$error">
                    <div ng-message="ng-required">This is required.</div>
                </div>
            </div>
            <div layout-gt-sm="row" layout-padding>
                <md-input-container>
                    <label>Name</label>
                    <input required wm-customername name="customerName" ng-model="customer.name" ng-model-options="{ updateOn: 'default', debounce: { 'default': 500 } }">
                    <div ng-messages="customerForm.customerName.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="customername">This username is already taken!</div>
                        <div class="ng-message name-message" ng-show="customerForm.$pending.customername">Checking if this name is available...</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Email</label>
                    <input required type="email" name="customerEmail" ng-model="customer.email" ng-pattern="/^.+@.+\..+$/"/>
                    <div ng-messages="customerForm.customerEmail.$error" role="alert">
                        <div ng-message="required">This is required.</div>                        
                        <div ng-message="pattern">
                            Your email not correct.
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout-padding>
                <md-input-container class="md-block">
                    <label>Phone Number</label>
                    <input required type="text" name="phone" ng-model="customer.phone" ui-mask="999(99)999-99-99" placeholder="Write a phone" ui-mask-placeholder ui-mask-placeholder-char="space"/>
                    <div ng-messages="customerForm.phone.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
            </div>            
            <div layout layout-sm="column">
                <md-button ng-disabled="customerForm.$invalid || customerForm.$pending" class="md-raised md-primary" ng-click="updateCustomer(photoFile)">
                    Save changes
                </md-button>
            </div>
        </form>
    </md-content>
</div>